{% extends "base.html" %}
{% block content %}

{% if errors %}
<div class = "alert alert-danger">
    <ul>
        {% for error in errors %}
        <li>{{error}}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}

<h1>Edit the Song Data</h1>

<form method="post" action="{{base_path}}/song/{{attributes.id}}/edit">
    <div class="form-group">
        <label>Name</label>
        <input name="name" class="form-control" value="{{attributes.name}}" type="text">
    </div>

    <div class="form-group">
        <label>Written by</label>
        <input name="written_by" class="form-control" value="{{attributes.written_by}}" type="text">
    </div>

    <div class="form-group">
        <label>Year</label>
        <input name="year" class="form-control" value="{{attributes.year}}" type="text">
    </div>

    <div class="form-group">
        <label>Country of origin</label>
        <input name="country" class="form-control" value="{{attributes.country}}" type="text">
    </div>

    <div class="form-group">
        <label>Genre</label>
        <input name="genre" class="form-control" value="{{attributes.genre}}" type="text">
    </div>
        
    <div class="form-group">
        <label>Youtube video ID</label>
        <input name="ytube_id" class="form-control" value="{{attributes.ytube_id}}" type="text">
    </div>
    
    <div class="form-group">
        <a href="{{base_path}}/song" class="btn btn-default" role="button">Return</a>
        <button type="submit" class="btn btn-primary">Apply</button>
    </div>
    
</form>
{% endblock %}