{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}

{% if message %}
<div class="alert alert-success">
    {{message}}
</div>
{% endif %}

<h1>{{chant.name}}</h1>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Lyrics</th>
            <td>{{chant.lyrics}}</td>
        </tr>
        <tr>
            <th>Original song</th>
            <td><a href="{{base_path}}/song/{{chant.song_object.id}}">{{chant.song_object.name}}</a></td>
        </tr>
        <tr>
            <th>Associated club(s)</th>
            <td>Not yet implemented</td>
        </tr>
    </thead>
</table>

<a href="{{base_path}}/chant" class="btn btn-default" role="button">Return</a>

{% if user_logged_in %}
<a href="{{base_path}}/chant/{{chant.id}}/edit" class="btn btn-primary" role="button">Edit</a>
{{forms.destroy_button("#{base_path}/chant/#{chant.id}/destroy")}}
{% endif %}

{% endblock %}