#main-container{
    max-width: 1200px;
    padding: 10px 25px;
    margin: 0px auto;
}

.navbar-default{
    background-color: #3d0066;
}

.navbar .container-fluid{
    max-width: 1200px;
    margin: 0px auto;
}

.content-background{
    background-color: #ffffff;
}

.text-white{
    color: #ffffff;
}

body { 
    background: url(La_Bombonera.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}