{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}

{% if message %}
<div class="alert alert-success">
    {{message}}
</div>
{% endif %}

<h1>{{performer.name}}</h1>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Active years</th>
            <td>{{performer.active_years}}</td>
        </tr>
        <tr>
            <th>Country</th>
            <td>{{performer.country}}</td>
        </tr>
        <tr>
            <th>Genre</th>
            <td>{{performer.genre}}</td>
        </tr>
    </thead>
</table>
<table class="table">
    <thead>
        <tr>
            <th>Associated Songs</th>
        </tr>
        {% if performer.songs is empty %}
        <tr><td>none</td></tr>
        {% else %}
        {% for song in performer.songs %}
        <tr><td><a href="{{base_path}}/song/{{song.id}}">{{song.name}}</a></td></tr>
        {% endfor %}
        {% endif %}
    </thead>
</table>

<a href="{{base_path}}/performer" class="btn btn-default" role="button">Return</a>

{% if user_logged_in %}
{{forms.edit_button("#{base_path}/performer/#{performer.id}/edit")}}
{{forms.destroy_button("#{base_path}/performer/#{performer.id}/destroy")}}
{% endif %}

{% endblock %}